.cardframe{
    /* color: white; */
    background-color: #CF7500 !important;
}


.loginWrapper {
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
}