.container {
    width: 100% !important;
    background-color: #F4F4F4;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.container::-webkit-scrollbar {
    display: none;
}
.loginWrapper {
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    overflow-y: scroll;
}
.messageContainer {
    background: linear-gradient(rgba(240, 165, 0, 0.7), rgba(207, 117, 0, 0.7));
    border-radius: 0 25% 0 25%;
    font-size: large;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}
.loginButton {
    font-size: medium !important;
    padding: 10px 30px !important;
    color: #000000 !important;
    border-color: #000000 !important;
}
@media screen and (max-width : 1024px) {
    .messageContainer {
        background: linear-gradient(rgba(240, 165, 0, 0.7), rgba(207, 117, 0, 0.7));
        border-radius: 0 25% 0 25%;
        font-size: medium;
        color: #000000;
        font-family: 'Courier New', Courier, monospace;
    }
}
