.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ecf0f1;
}
.loginButton {
    font-size: medium !important;
    padding: 10px 30px !important;
    color: #CF7500 !important;
    border-color: #CF7500 !important;
}
